/**
 * h5bp: .clearfix, .invisible, .hidden, @media print reset
 * unideck: .hidden-<screen>
 *
 * @author Tim Lauv
 * @created 2017.05.27 
 */

@import (inline) 'css/h5bp.css';

//hidden content helpers
.hidden-print {
	.media-print({
		display: none !important;
	})
}

.hidden-too-small {
	.media-too-small({
		display: none !important;
	})
}

.hidden-phone {
	.hidden-too-small;
	.media-phone({
		display: none !important;
	})
}

.hidden-tablet {
	.hidden-too-small;
	.media-tablet({
		display: none !important;
	})
}

.hidden-pc {
	.hidden-too-small;
	.media-pc({
		display: none !important;
	})
}

