/**
 * h5bp: .clearfix, .invisible, .hidden, basic print @media(query)
 * unideck: .hidden-<screen>
 *
 * @author Tim Lauv
 * @created 2017.05.27 
 */

@import (inline) 'defaults-h5bp.css';

//not used directly atm... use the 3 .hidden-<screen> from below.
.hidden-too-small {
	@media (max-width: @screen-phone-min) {
		display: none;
	}
}
//----------------------------------------------------------------

.hidden-phone {
	.hidden-too-small;
	@media (min-width: @screen-phone-min) and (max-width: @screen-phone-max) {
		display: none;
	}
}

.hidden-tablet {
	.hidden-too-small;
	@media (min-width: @screen-tablet-min) and (max-width: @screen-tablet-max) {
		display: none;
	}
}

.hidden-pc {
	.hidden-too-small;
	@media (min-width: @screen-pc-min) {
		display: none;
	}
}