/**
 * Mixins for giving certain .class additional css features;
 *
 * @author Tim Lauv
 * @created 2017.01.11
 */

//shared unit measures in a deck container
.deck-unit() {
    float: left;
    position: relative;
    min-height: 6 * @gap-padded-size;
    .box-sizing();
    .paddable();
    .vfillable();
    .borders();

    //.vfill-ed .unit also means immediate child el will automatically stretch!
    &.vfill {
        > div,
        > ul,
        > ol,
        > section,
        > header,
        > footer,
        > aside,
        > svg,
        > canvas {
            height: 100% !important;
            max-height: 100% !important;
            min-height: 100% !important;
        }
    }
}

//shared unit measures in a flex container
.flex-unit() {
    //this one doesn't honor position: relative;
    //this one doesn't honor .vfill helpers and immediate el control;
    min-height: 6 * @gap-padded-size;
    .box-sizing();
    .paddable();
    .borders();

}

.box-sizing() {
    //so that border grows inwards with width/height set;
    box-sizing: border-box !important;
}

.paddable() {
    &.padded {
        padding: @gap-padded-size;
    }
}

.vfillable() {
    &.vfill {
        height: 100%;
        &.half {
            height: 50%;
        }
        &.third {
            height: 33.3%;
        }
        &.quarter {
            height: 25%;
        }
    }
}

.borders(@radius : 0, @size : 1px) {
    border-width: @size;
    border-radius: @radius;
    &.border {
        border-style: solid;
    }
    &.dashed {
        border-style: dashed;
    }
    &.dotted {
        border-style: dotted;
    }
    &.double {
        border-style: double;
    }
}

//float el container (clearfix)
.clearfix() {
    overflow: auto;
    zoom: 1;
    /*
     * Clearfix: contain floats (from h5bp:helpers)
     *
     * For modern browsers
     * 1. The space content is one way to avoid an Opera bug when the
     *    `contenteditable` attribute is included anywhere else in the document.
     *    Otherwise it causes space to appear at the top and bottom of elements
     *    that receive the `clearfix` class.
     * 2. The use of `table` rather than `block` is only necessary if using
     *    `:before` to contain the top-margins of child elements.
     */
    
    &:before, &:after {
        content: " ";
        /* 1 */
        
        display: table;
        /* 2 */
    }
    &:after {
        clear: both;
    }
}

//easy background picz
.bg(@url) {
    background: url(@url);
    background-repeat: no-repeat;
    background-position: center center;
    &.vfill {
        background-size: auto 100%;
    }
    &.full {
        background-size: cover;
    }
    &.fixed {
        background-attachment: fixed;
    }
}

//easy web-font import
.font(@name, @file) {
    @font-face {
        font-family: @name;
        src: url('@{file}.woff2') format('woff2'), url('@{file}.woff') format('woff'), url('@{file}.ttf') format('truetype');
    }
}
