.make-unit(@unit) {
	float: left;
	position: relative;
	min-height: 1px;

	& when(@unit = 1) {
		@media(min-width: @screen-watch-min) {
			width: 100%;
		}
		@media(min-width: @screen-phone-min) {
			width: 50%;
		}
		@media(min-width: @screen-tablet-min) {
			width: 25%;
		}
		@media(min-width: @screen-computer-min) {
			width: 12.5%;
		}
	}

	& when(@unit = 2) {
		@media(min-width: @screen-watch-min) {
			width: 100%;
		}
		@media(min-width: @screen-phone-min) {
			width: 100%;
		}
		@media(min-width: @screen-tablet-min) {
			width: 50%;
		}
		@media(min-width: @screen-computer-min) {
			width: 25%;
		}
	}

	& when(@unit = 3) {
		@media(min-width: @screen-watch-min) {
			width: 100%;
		}
		@media(min-width: @screen-phone-min) {
			width: 100%;
		}
		@media(min-width: @screen-tablet-min) {
			width: 75%;
		}
		@media(min-width: @screen-computer-min) {
			width: 37.5%;
		}
	}

	& when(@unit = 4) {
		@media(min-width: @screen-watch-min) {
			width: 100%;
		}
		@media(min-width: @screen-phone-min) {
			width: 100%;
		}
		@media(min-width: @screen-tablet-min) {
			width: 100%;
		}
		@media(min-width: @screen-computer-min) {
			width: 50%;
		}
	}

	& when(@unit = 5) {
		@media(min-width: @screen-watch-min) {
			width: 100%;
		}
		@media(min-width: @screen-phone-min) {
			width: 100%;
		}
		@media(min-width: @screen-tablet-min) {
			width: 100%;
		}
		@media(min-width: @screen-computer-min) {
			width: 62.5%;
		}
	}

	& when(@unit = 6) {
		@media(min-width: @screen-watch-min) {
			width: 100%;
		}
		@media(min-width: @screen-phone-min) {
			width: 100%;
		}
		@media(min-width: @screen-tablet-min) {
			width: 100%;
		}
		@media(min-width: @screen-computer-min) {
			width: 75%;
		}
	}

	& when(@unit = 7) {
		@media(min-width: @screen-watch-min) {
			width: 100%;
		}
		@media(min-width: @screen-phone-min) {
			width: 100%;
		}
		@media(min-width: @screen-tablet-min) {
			width: 100%;
		}
		@media(min-width: @screen-computer-min) {
			width: 87.5%;
		}
	}

	& when(@unit = 8) {
		@media(min-width: @screen-watch-min) {
			width: 100%;
		}
		@media(min-width: @screen-phone-min) {
			width: 100%;
		}
		@media(min-width: @screen-tablet-min) {
			width: 100%;
		}
		@media(min-width: @screen-computer-min) {
			width: 100%;
		}
	}
}