
//no border (layout containers shouldn't have borders)
.box-sizing() {
    box-sizing: border-box !important;
}

.paddable() {
    &.padded {
        padding: @padded-gap-size;
    }
}

.vfillable() {
    &.vfill {
        height: 100%;

        &.half {
            height: 50%;
        }

        &.third {
            height: 33.3%;
        }

        &.quarter {
            height: 25%;
        }

        //so child view div will automatically stretch.
        > div, ul, ol, section, header, footer, aside, svg, canvas {
            height: 100%;
        }
    }
}

//shared unit measures in a deck
.unit-base() {
    position: relative;
    min-height: 1em;
    .box-sizing();
    .paddable();
    .vfillable();
}

//easy background picz
.bg(@url) {
    background: url(@url);
    background-repeat: no-repeat;
    background-position: center center;

    &.vfill {
        background-size: auto 100%;
    }

    &.full {
        background-size: cover;
    }

    //fixed? (attachment)
}
