
@import (inline) 'normalize-css/normalize.css';

html, body {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

@import (inline) 'defaults-h5bp.css';

//not used directly atm... use the 3 .hidden-<screen> from below.
.hidden-too-small {
	@media (max-width: @screen-phone-min) {
		display: none;
	}
}
//----------------------------------------------------------------

.hidden-phone {
	.hidden-too-small;
	@media (min-width: @screen-phone-min) and (max-width: @screen-phone-max) {
		display: none;
	}
}

.hidden-tablet {
	.hidden-too-small;
	@media (min-width: @screen-tablet-min) and (max-width: @screen-tablet-max) {
		display: none;
	}
}

.hidden-pc {
	.hidden-too-small;
	@media (min-width: @screen-pc-min) {
		display: none;
	}
}
