@screen-watch: 320px;
@screen-phone: 480px;
@screen-tablet: 768px;
@screen-pc: 1024px;

//screen min and max
@screen-watch-min: 1px;
@screen-watch-max: @screen-watch;

@screen-phone-min: @screen-watch;
@screen-phone-max: @screen-phone;

@screen-tablet-min: @screen-phone;
@screen-tablet-max: @screen-pc;

@screen-pc-min: @screen-pc;

//default padding size
@padded-gap-size: 0.5em;