/**
 * Top most containers inside <body>, for containing .deck or .flex, even other .frame(s)
 *
 * Note: a immediate .frame within a .frame becomes stacked.
 *
 * @author Tim Lauv
 * @created 2017.05.27
 */

.frame {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;

	//.frame(s) within a .frame become stacked on top of each other
	> .frame {
		position: relative;
		width: 100%;
	}
}